body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, #6dd5fa, #2980b9);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.container {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    text-align: center;
    width: 300px;

}

.weather-box h1 {
    font-size: 32px;
    margin-bottom: 10px;
}

.date {
    font-size: 16px;
    margin-bottom: 20px;
}

.weather img {
    width: 80px;
}

.weather h2 {
    font-size: 48px;
    margin: 10px 0;
}

.weather p {
    font-size: 20px;
}